@inherits RazorSliceHttpResult
@using Microsoft.AspNetCore.Antiforgery;
@inject IAntiforgery _antiforgery;

@{
    var tokens = _antiforgery.GetAndStoreTokens(HttpContext!);
    var token = System.Text.Json.JsonSerializer.Serialize(new { 
        antiForgery = new {
            requestToken = tokens.RequestToken,
            formFieldName = tokens.FormFieldName,
            headerName = tokens.HeaderName }
        }
    );
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='@token'/>
    <title>Home Page - TinyTodoHtml.Server</title>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="@Htmx.TagHelpers.HtmxAntiforgeryScriptEndpoints.Path" defer></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Tiny Todos in HTMX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @await RenderPartialAsync("/Slices/_App.cshtml")

    <script src="/js/site.js" asp-append-version="true"></script>
</body>

</html>